
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App-header {
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
} 


body {
  background-color: #ffffff;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  text-align: center;
  font-size: 24px;
}

button{
  font-size: 24px;
}

nav{
  display: flex;
  align-items: center;
  padding: 10px 20 px;
  color: aliceblue;
}

nav>h3{
  margin-left: 180px;
}

.spinner{
  margin-top: 300px;

}

.spinner-border{
  width: 6rem;
  height: 6rem;
}

input{
  font-size: 20 px;
}

input
{
    font-size:20px;
}

table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
  text-align: center;
  font-size: 24px;
  
}
 
th {
  padding-right: 42px;
  text-align: left;
}

td {
  padding-right: 14px;
}

.checkBoxPlayer
{
  width: 24px;
   height: 24px;
}

.header {
    
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4cb563;
  /* padding: 0 5%; */
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcf0f5;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

nav ul li
{
  cursor: pointer;
}

#addPlayerTbl tr td
{
  text-align-last: left;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #53c231; /* green */
  border-radius: 50%;
  width:6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
